.button {
    width: 298px;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(102, 81, 81);
    margin: 10px auto;

    &:hover {
        background-color: rgb(70, 55, 55);
    }
}
