.container {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.left {
	width: 300px;
	height: 100%;
	border-right: solid;

	& > * {
		padding-left: 5px;
	}
}

.right {
	width: calc(100% - 300px);
	height: 100%;
	min-width: 400px;
}

.header {
	border-bottom: 1px solid black;

	display: flex;
	flex-direction: column;
	gap: 6px;

	height: 200px;

	button {
		background-color: antiquewhite;
		width: fit-content;
		height: fit-content;
		color: rgb(61, 59, 59);
		margin: 0;
	}

	.form {
		display: flex;
		flex-direction: row;
		padding: 4px;
		align-items: flex-end;
	}
}

.scroll {
	overflow-y: scroll;
	max-height: calc(100% - 170px);
}
