@import url("../../variables.css");

.compose {
	height: var(--compose-height);
	align-items: center;
	padding: 10px;
	display: flex;
	flex-direction: row;

	& > div {
		flex: 1;
	}

	& input {
		width: 100%;
	}
}

.button {
	width: 60px;
	display: inline-block;
	margin: 10px;
}
